body {
  background-color: #f9f9f9;
  color: #9d9d9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0px !important;
  padding: 0px; }

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 1px 4px #e1e1e1;
          box-shadow: 0px 1px 4px #e1e1e1;
  position: static;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#mainOptions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 23px 0px 23px;
  height: 80px;
  width: 978px; }

#mainOptions p {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  font-size: 15px;
  font-family: "HelveticaNeueLTStd";
  margin: 0; }

#mainOptions p:nth-child(1) {
  border-left: 1px solid #e1e1e1;
  margin-left: 120px; }

.userPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 440px; }

.userPanel img:not(:last-child) {
  width: 36px;
  height: 36px;
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  float: right; }

.userPanel img:last-child {
  position: absolute;
  margin-left: 10px;
  width: 8px;
  height: 4px;
  right: -10%;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%); }

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  width: 978px;
  margin: 115px 22px 0px 22px;
  height: auto; }

#topOfContainer,
.weeksAndButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin: 0 auto; }

#topOfContainer .weekProgress,
#topOfContainer .selectProtein {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px; }

#topOfContainer .selectProtein {
  margin-right: 0px;
  margin-left: 130px; }

#topOfContainer .weekProgress p,
#topOfContainer .selectProtein p {
  font-size: 9px;
  color: #9d9d9d;
  margin: 0px 1px 0px 10px; }

#topOfContainer .weekProgressChart table {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: right;
  padding: 0px; }

#topOfContainer .weekProgressChart img {
  margin: -1px;
  padding-left: 0px;
  border: 0px; }

.arrows {
  position: relative;
  width: 24px;
  height: 44px;
  border: 1px solid silver;
  border-radius: 5px; }

.arrows img {
  width: 9px;
  height: 16px;
  position: absolute;
  top: 13.5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%); }

#topOfContainer .numberOfWeek p {
  color: #ff801a;
  font-size: 46px;
  font-family: Helvetica;
  margin: 0px;
  width: 247px;
  text-align: center; }

.proteinOptions img:not(:first-child) {
  padding-left: 8px;
  padding-top: 10px; }

#tableBox {
  border-radius: 2%;
  margin: 5px;
  height: auto;
  width: auto;
  overflow-x: auto; }

.tableCells {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff; }

.tableCells tr td:not(:first-child) {
  width: 126px; }

.tableCells tr td:first-child {
  width: 85px; }

.tableCells tr:not(:first-child):not(:last-child):not(:last-child(2)) {
  height: 90px; }

.tableCells tr:nth-child(7) {
  height: 35px; }

.tableCells tr:first-child {
  height: 50px; }

.tableCells tr:last-child {
  height: 30px; }

.tableCells tr td:first-child,
.tableCells tr:nth-child(8),
.tableCells tr:nth-child(7),
.tableCells th:nth-child(1) {
  background-image: url("../backgroundCells.png");
  background-repeat: repeat; }

.tableCells tr th:nth-child(3),
.tableCells tr td:nth-child(3) {
  border-right: 2px solid #ff801a;
  border-left: 2px solid #ff801a;
  color: black; }

.tableCells tr th:nth-child(3) {
  border-top: 2px solid #ff801a;
  color: #ff801a; }

.tableCells tr:last-child td:nth-child(3) {
  border-bottom: 2px solid #ff801a; }

.tableCells tr:nth-last-child(1) td,
.tableCells tr:nth-last-child(2) td,
.tableCells tr:nth-child(2) td:nth-last-child(1) {
  color: #9d9d9d;
  text-align: center; }

.tableCells th:not(:nth-child(2)),
.tableCells td:not(:nth-child(2)) {
  border-right: 2px solid #9d9d9d; }

.tableCells tr:not(:nth-child(1)):not(:nth-child(7)) {
  border-top: 2px solid #9d9d9d; }

.tableCells th {
  padding: 10px;
  font-family: Helvetica, Arial;
  color: #adbb0c; }

.tableCells td {
  padding-left: 15px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px; }

#footer {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-rule-style: solid;
          column-rule-style: solid;
  -webkit-column-rule-color: #9d9d9d;
          column-rule-color: #9d9d9d;
  margin-top: 55px; }

.advertisement h1 {
  margin: 0px;
  font-family: Helvetica,Arial;
  font-size: 28px;
  font-weight: normal;
  color: #828282; }

.advertisement p {
  margin: 0px;
  padding-top: 25px;
  font-family: Arial,Helvetica;
  font-size: 15px; }

.advertisement button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 107px;
  height: 32px;
  color: #9d9d9d;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
  background-color: #f9f9f9; }
