body {
  background-color: #f9f9f9;
  color: #9d9d9d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px !important;
  padding: 0px; }

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 82px;
  -webkit-box-shadow: 0px 1px 4px #e1e1e1;
          box-shadow: 0px 1px 4px #e1e1e1; }

#mainOptions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 144px;
  height: 82px;
  border-left: 1px solid #e1e1e1; }

#mainOptions p {
  margin-left: 15px;
  font-size: 15px;
  font-family: "HelveticaNeueLTStd";
  line-height: 3.286; }

#mainOptions img {
  position: relative;
  margin-left: 371px;
  width: 36px;
  height: 36px;
  top: 26px;
  border: 1px solid #c3c3c3;
  border-radius: 50%; }

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 5px;
  height: auto;
  position: absolute;
  margin-top: 110px; }

.arrows {
  position: relative;
  width: 24px;
  height: 44px;
  border: 1px solid silver;
  border-radius: 5px; }

.arrows img {
  width: 9px;
  height: 16px;
  position: absolute;
  top: 13.5px;
  left: widthOfArrow/2; }

#topOfContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  height: 60px;
  border: 1px solid black; }

#tableBox {
  border-radius: 2%;
  margin: 5px;
  height: auto;
  width: auto;
  overflow-x: auto; }

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff; }

table tr:not(:nth-child(1)):not(:nth-child(7)) {
  border-top: 1px solid black; }

table th,
table td {
  border-right: 1px solid black; }

table th {
  padding: 10px; }

table td {
  padding-left: 5px;
  text-align: left; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  width: 100%; }

.advertisement {
  padding: 5px;
  width: 30%; }

.advertisement:not(:last-child) {
  border-right: 2px solid black; }

.Layer_154 {
  background-image: url("Layer 154.png");
  position: absolute;
  left: 3px;
  top: 7px;
  width: 2564px;
  height: 82px;
  z-index: 184; }

.Layer_15 {
  background-image: url("Layer 15.png");
  opacity: 0.439;
  position: absolute;
  left: 977px;
  top: 57px;
  width: 25px;
  height: 2px;
  z-index: 185; }

.Layer_149 {
  background-image: url("Layer 149.png");
  top: 0px;
  width: 1px;
  height: 79px;
  z-index: 186; }

.Rounded_Rectangle_2 {
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  left: 1129px;
  top: 113px;
  width: 28px;
  height: 46px;
  z-index: 6; }

.Arrow {
  background-color: #7d7d7d;
  position: absolute;
  left: 1139px;
  top: 129px;
  z-index: 7; }
