@import "_settings";
body {
    background-color: #f9f9f9;
    color: $color-text;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px !important;
    padding: 0px;
    transition: .5s;
}   
#container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    width: 978px;
    margin: 115px 22px 0px 22px;
    height: auto;
    transition: .5s;
}
