@import "_settings";
#tableBox {
    border-radius: 2%;
    margin: 5px;
    height: auto;
    width: auto;
    overflow-x: auto;
}

.tableCells {
    border-collapse: collapse;
    width: 100%;
    background-color: $color-bg;
}

.tableCells td {
    vertical-align: top;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
}

.tableCells tr td:not(:first-child) {
    width: 126px;
}

.tableCells tr td:first-child {
    width: 90px;
    font-weight: bold;
    padding-bottom: 10px;
    white-space: nowrap;
}

.tableCells tr:nth-child(7),
.tableCells tr:nth-child(8) {
    height: 35px;
}

.tableCells tr:first-child {
    height: 50px;
}

.tableCells tr:nth-child(2),
.tableCells tr:nth-child(3),
.tableCells tr:nth-child(4),
.tableCells tr:nth-child(5),
.tableCells tr:nth-child(6),
    {
    height: 90px;
}

.tableCells tr td:first-child,
.tableCells tr:nth-child(8),
.tableCells tr:nth-child(7),
.tableCells th:nth-child(1) {
    background-image: url("../images/backgroundCells.png");
    background-repeat: repeat;
    vertical-align: middle;
}

.tableCells tr th:nth-child(3),
.tableCells tr td:nth-child(3),
    {
    border-right: 2px solid #ff801a;
    border-left: 2px solid #ff801a;
    color: black;
}

.tableCells tr th:nth-child(3) {
    border-top: 2px solid #ff801a;
    color: #ff801a;
}

.tableCells tr:last-child td:nth-child(3) {
    border-bottom: 2px solid #ff801a;
}

.tableCells tr:nth-last-child(1) td,
.tableCells tr:nth-last-child(2) td,
.tableCells tr:nth-child(2) td:nth-last-child(1) {
    color: $color-text;
    text-align: center;
}

.tableCells th:not(:nth-child(2)),
.tableCells td:not(:nth-child(2)) {
    border-right: 2px solid $color-text;
}

.tableCells tr:not(:nth-child(1)):not(:nth-child(7)) {
    border-top: 2px solid $color-text;
}

.tableCells th {
    padding: 10px;
    font-family: Helvetica, Arial;
    color: #adbb0c;
}

.tableCells .vectorObject {
    position: absolute;
    top: 8px;
    right: 7px;
}

.tableCells .shakesPicture {
    position: relative;
    margin-bottom: -4px;
    margin-top: 10px;
}

.tableCells td[rowspan="2"],
.tableCells td[rowspan="5"] {
    vertical-align: middle;
}