@import "_settings";
body {
    background-color: #f9f9f9;
    color: $color-text;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0px !important;
    padding: 0px;
}

#top {
    display: flex;
    background-color: $color-bg;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 4px #e1e1e1;
    position: static;
    justify-content: center;
    
}

#mainOptions {
    position: absolute;
    display: flex;
    margin:0px 23px 0px 23px;
    height: 80px;
    width: 978px;
}

#mainOptions p {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
    font-family: "HelveticaNeueLTStd";
    margin: 0;
}

#mainOptions p:nth-child(1) {
    border-left: 1px solid #e1e1e1;
    margin-left:120px;
}

.userPanel {
    display: flex;
    position: relative;
    align-items: center;
    margin-left:440px;
}

.userPanel img:not(:last-child) {
    width: 36px;
    height: 36px;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    float: right;
}

.userPanel img:last-child {
    position: absolute;
    margin-left: 10px;
    width: 8px;
    height: 4px;
    right: -10%;
    top: 50%;
    transform: translate(0%, -50%);
}

#container {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    width: 978px;
    margin: 115px 22px 0px 22px;
    height: auto;
}

#topOfContainer,
.weeksAndButtons,
    {
    display: flex;
    height: 60px;
    margin: 0 auto;
}

#topOfContainer .weekProgress,
#topOfContainer .selectProtein {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#topOfContainer .selectProtein {
    margin-right: 0px;
    margin-left: 130px;
}

#topOfContainer .weekProgress p,
#topOfContainer .selectProtein p {
    font-size: 9px;
    color: $color-text;
    margin: 0px 1px 0px 10px;
}

#topOfContainer .weekProgressChart table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: right;
    padding: 0px;
}

#topOfContainer .weekProgressChart img {
    margin: -1px;
    padding-left: 0px;
    border: 0px;
}

.arrows {
    position: relative;
    width: 24px;
    height: 44px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
}

.arrows img {
    width: 9px;
    height: 16px;
    position: absolute;
    top: 13.5px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#topOfContainer .numberOfWeek p {
    color: #ff801a;
    font-size: 46px;
    font-family: Helvetica;
    margin: 0px;
    width: 247px;
    text-align: center;
}

.proteinOptions img:not(:first-child) {
    padding-left: 8px;
    padding-top: 10px;
}

#tableBox {
    border-radius: 2%;
    margin: 5px;
    height: auto;
    width: auto;
    overflow-x: auto;
}

.tableCells {
    border-collapse: collapse;
    width: 100%;
    background-color: $color-bg;
    
}
.tableCells td {
    vertical-align: top;
    padding-left: 15px;
    padding-top: 12px;
    padding-right:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
  
    
}

.tableCells tr td:not(:first-child) {
    width: 126px;
}

.tableCells tr td:first-child {
    width: 85px;
}

.tableCells tr:not(:first-child):not(:last-child):not(:last-child(2)) {
    height: 90px;
}

.tableCells tr:nth-child(7) {
    height: 35px;
}

.tableCells tr:first-child {
    height: 50px;
}

.tableCells tr:last-child {
    height: 30px;
}

.tableCells tr td:first-child,
.tableCells tr:nth-child(8),
.tableCells tr:nth-child(7),
.tableCells th:nth-child(1) {
    background-image: url("../backgroundCells.png");
    background-repeat: repeat;
    vertical-align: middle;
}

.tableCells tr th:nth-child(3),
.tableCells tr td:nth-child(3),
    {
    border-right: 2px solid #ff801a;
    border-left: 2px solid #ff801a;
    color: black;
}

.tableCells tr th:nth-child(3) {
    border-top: 2px solid #ff801a;
    color: #ff801a;
}

.tableCells tr:last-child td:nth-child(3) {
    border-bottom: 2px solid #ff801a;
}

.tableCells tr:nth-last-child(1) td,
.tableCells tr:nth-last-child(2) td,
.tableCells tr:nth-child(2) td:nth-last-child(1) {
    color: $color-text;
    text-align: center;
}

.tableCells th:not(:nth-child(2)),
.tableCells td:not(:nth-child(2)) {
    border-right: 2px solid $color-text;
}

.tableCells tr:not(:nth-child(1)):not(:nth-child(7)) {
    border-top: 2px solid $color-text;
}

.tableCells th {
    padding: 10px;
    font-family: Helvetica, Arial;
    color: #adbb0c;
}

.tableCells .vectorObject
{
    position: absolute;
    top: 8px;
    right: 7px;
}
.tableCells .shakesPicture
{
    position: relative;
    margin-bottom: -4px;
    margin-top:10px;
   
}
.tableCells td[rowspan="2"],
.tableCells td[rowspan="5"]
{
   
    vertical-align : middle;
}
#footer {
    column-count: 3;
    column-rule-style: solid;
    column-rule-color: $color-text;
    margin-top: 55px;
   
}

.advertisement h1 {
    margin: 0px;
    font-family: Helvetica,Arial;
    font-size:28px;
    font-weight:normal;
    color:#828282;
}
.advertisement p {
    margin: 0px;
    padding-top:25px;
    padding-bottom:20px;
    font-family: Arial,Helvetica;
    font-size:15px;
}
.advertisement button
{
    display:flex;
    align-items: center;
    height: 32px;
    color: $color-text;
    border:1px solid $color-text;
    border-radius:5px;
    background-color:#f9f9f9;
    margin-right: 10px;
    font-size:16px;
    
}
.advertisement .buttons
{
    display:flex;
    align-items: center;
}
.advertisement img
{
   margin:0px 5px 0px 5px;
   padding-bottom:3px;
   padding-left:2px;
}
.advertisement .rightArrow
{
    padding-right:5px;
    padding-left:5px;
    padding-top:3px;
}

// @media screen and (min-width:0px) and (max-width:670px)
// {
//     #container{
//         top:80%;
//     }
// }
// @media screen and (min-width:670px) and (max-width:868px)
// {
//     #container{
//         top:75%;
//     }
// }